<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="ion-padding">
  <ion-input label="Usuario" label-placement="floating" fill="outline" class="ingreso" [(ngModel)]="nombreUsuario" maxlength="8" minlength="3" required></ion-input>
  <ion-input type="password" label="Contraseña" label-placement="floating" fill="outline" class="ingreso" [(ngModel)]="contrasenaUsuario" required (input)="contrasenaValidacion($event)"></ion-input>
  <br>
  <ion-button expand="full" (click)="enviarDatos()">Iniciar Sesion</ion-button>
</div>
</ion-content>

<ion-footer>

</ion-footer>